
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<!--footer-main-panel-->
		<div class="footer-main-panel">
			<div class="logo-inner-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="location-inner-wrap">
				<a href="" class="btn-location">
					<div class="button-title">г. Дальнегорск, Приморский Край</div>
				</a>
			</div>
		</div>
		<!--/footer-main-panel-->
		<!--footer-menu-panel-->
		<div class="footer-menu-panel">
			<ul class="menu menu-main">
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">меню</div>
					</a>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Каталог</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">О нас</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Доставка и оплата</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Контакты</div>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Каталог 1</div>
					</a>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">раздел 1</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">раздел 2</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">раздел 3 </div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">раздел 4</div>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Каталог 2</div>
					</a>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">раздел 1</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">раздел 2</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">раздел 3 </div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">раздел 4</div>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Катлог 1</div>
					</a>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">раздел 1</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">раздел 2</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">раздел 3 </div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">раздел 4</div>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!--/footer-menu-panel-->
		<!--footer-info-panel-->
		<div class="footer-info-panel">
			<div class="contacts-inner-wrap">
				<div class="phone-wrap">
					<a href="tel:89242642828" class="btn-phone">+7 (924) 264-28-28</a>
				</div>
				<div class="email-wrap">
					<a href="mailto:MALIBUFLOWERS@mail.ru" class="btn-email">MALIBUFLOWERS@mail.ru</a>
				</div>
				<div class="soc-wrap">
					<a href="" class="btn-soc">
						<div class="button-ico">
							<img src="./img/icons/wa.svg" alt="">
						</div>
						<div class="button-title">WhatsApp</div>
					</a>
					<a href="" class="btn-soc">
						<div class="button-ico">
							<img src="./img/icons/tg.svg" alt="">
						</div>
						<div class="button-title">Telegram</div>
					</a>
				</div>
			</div>
			<div class="info-inner-wrap">
				<div class="info-wrap">
					<a href="" class="link-main">Политика конфиденциальности</a>
				</div>
				<div class="info-wrap">2025 ©  MALIBUFLOWERS</div>
			</div>
		</div>
		<!--/footer-info-panel-->
	</div>
</footer>
<!-- /footer -->
 