<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="actions-inner-wrap">
			<div class="action-wrap action-search js-popup-wrap">
				<a href="" class="btn-action btn-action-ico button-active-close ico-search js-btn-popup-toggle"></a>
				<div class="popup-content-block js-popup-block">
					<form action="/" class="frm-main-search">
						<input type="text" class="form-input" placeholder="поиск товара">
						<button type="submit" class="button-form btn-action-ico ico-search"></button>
					</form>
				</div>
			</div>
			<div class="action-wrap">
				<a href="" class="btn-action btn-action-ico ico-fav"></a>
			</div>
			<div class="action-wrap">
				<a href="" class="btn-action btn-action-ico ico-cart"></a>
			</div>
		</div>
		<div class="menu-inner-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu js-btn-popup-toggle"></a>
			<div class="menu-content-block js-popup-block">
				<a href="" class="btn-popup-close btn-action-ico ico-close js-btn-popup-close"></a>
				<div class="menu-wrap">
					<ul class="menu menu-main js-toggle-buttons">
						<li>
							<a href="" class="btn-menu button-submenu-toggle js-btn-tgl-one">
								<div class="button-title">Каталог</div>
							</a>
							<ul class="menu">
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Букеты роз </div>
									</a>
								</li>
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Букеты из хризантем </div>
									</a>
								</li>
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Моно букеты </div>
									</a>
								</li>
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Дуо букеты</div>
									</a>
								</li>
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Сборные букеты </div>
									</a>
								</li>
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Авторские букеты </div>
									</a>
								</li>
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Свадебные букеты </div>
									</a>
								</li>
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Букеты в коробках  и&nbsp;корзинах </div>
									</a>
								</li>
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Мужские букеты </div>
									</a>
								</li>
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">шары</div>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="" class="btn-menu active">
								<div class="button-title">О нас</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu button-submenu-toggle js-btn-tgl-one">
								<div class="button-title">Доставка и оплата</div>
							</a>
							<ul class="menu">
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Букеты роз </div>
									</a>
								</li>
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Букеты из хризантем </div>
									</a>
								</li>
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Моно букеты </div>
									</a>
								</li>
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Дуо букеты</div>
									</a>
								</li>
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Сборные букеты </div>
									</a>
								</li>
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Авторские букеты </div>
									</a>
								</li>
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Свадебные букеты </div>
									</a>
								</li>
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Букеты в коробках  и&nbsp;корзинах </div>
									</a>
								</li>
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">Мужские букеты </div>
									</a>
								</li>
								<li>
									<a href="" class="btn-submenu">
										<div class="button-title">шары</div>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Новости</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Контакты</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="order-inner-wrap">
					<a href="" class="btn button-medium button-arrow js-popup-open" data-popup="popup-order">
						<div class="button-title">Оставить заявку</div>
					</a>
				</div>
				<div class="contacts-inner-wrap">
					<div class="location-wrap">
						<a href="" class="btn-location">
							<div class="button-title">г. Дальнегорск, Приморский Край</div>
						</a>
					</div>
					<div class="contacts-wrap">
						<a href="tel:89242642828" class="btn-phone">+7 (924) 264-28-28</a>
						<a href="" class="btn-soc btn-action-ico">
							<img src="./img/icons/wa.svg" alt="">
						</a>
						<a href="" class="btn-soc btn-action-ico">
							<img src="./img/icons/tg.svg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="elm-overlay" id="overlay"></div>
</header>
<!-- /header -->